@use '../variables'

.form
    padding: 1.5rem 1rem

    &-input
        background: variables.$elements-bg
        border: none
        padding: 1rem
        border-radius: 5px
        width: 100%
        box-shadow: variables.$box-shadow
